
.vs/ConsoleApplication3/v15/Browse.VC.opendb
TareaCortita.vcxproj.user
.vs/TareaCortita/v15/.suo
.vs/TareaCortita/v15/Browse.VC.db
.vs/TareaCortita/v15/Browse.VC.opendb
TareaCortita.vcxproj.filters
TareaCortita.vcxproj
TareaCortita.sln
.vs/TareaCortita/v15/ipch/AutoPCH/b1308c6d531e669/CONSOLEAPPLICATION3.ipch
.vs/TareaCortita/v15/ipch/AutoPCH/d1b5489def8db9ac/PCH.ipch
ConsoleApplication3/ConsoleApplication3.cpp
ConsoleApplication3/ConsoleApplication3.cpp
*.cpp
